@model MIS333K_FinalProject.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
    <br />
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
    <a asp-controller="Reservation" asp-action="Cart" class="btn btn-primary">Go to Cart</a>
    <br />
}


<div>
    <form asp-action="Create" method="post">
        <!-- Hidden field for Property ID -->
        <input type="hidden" name="propertyId" value="@ViewBag.Property.PropertyId" />

        <div>
            <label for="StartDate">Start Date:</label>
            <input type="date" id="StartDate" name="StartDate" required />
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            <label for="EndDate">End Date:</label>
            <input type="date" id="EndDate" name="EndDate" required />
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            <label for="NumOfGuests">Number of Guests:</label>
            <input type="number" id="NumOfGuests" name="NumOfGuests" min="1" required />
            @Html.ValidationMessageFor(model => model.NumOfGuests, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary mt-3" />
        </div>
    </form>
</div>