@model IEnumerable<MIS333K_FinalProject.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekdayPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekendPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleaningFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekdayPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekendPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleaningFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
