@model MIS333K_FinalProject.ViewModels.PropertySearchViewModel

<form method="get" asp-action="Search">
    <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" id="City" name="City" value="@Model.City" />
    </div>

    <div>
        <label for="state">State</label>
        <select id="state" name="state">
            <option value="">Select State</option>
            <!-- Populate States Dynamically -->
            @foreach (var state in Enum.GetValues(typeof(MIS333K_FinalProject.Models.StateAbbr)))
            {
                <option value="@state">@state</option>
            }
        </select>
    </div>

    <div>
        <label>Guest Rating:</label>
        <select asp-for="GuestRatingOperator">
            <option value="GreaterThan">Greater Than</option>
            <option value="LessThan">Less Than</option>
        </select>
        <input asp-for="AverageRating" placeholder="Enter rating" />
    </div>

    <div>
        <label>Price Range:</label>
        <input asp-for="MinDailyPrice" placeholder="Min Price" />
        <input asp-for="MaxDailyPrice" placeholder="Max Price" />
    </div>

    <div>
        <label>Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="Bedrooms"></label>
        <input asp-for="Bedrooms" type="number" placeholder="Number of bedrooms" />
    </div>

    <div>
        <label asp-for="Bathrooms"></label>
        <input asp-for="Bathrooms" type="number" placeholder="Number of bathrooms" />
    </div>

    <div class="form-group">
        <label asp-for="PetsAllowed">Pets Allowed</label>
        <input asp-for="PetsAllowed" type="checkbox" />
        <span asp-validation-for="PetsAllowed"></span>
    </div>

    <div class="form-group">
        <label asp-for="FreeParking">Free Parking</label>
        <input asp-for="FreeParking" type="checkbox" />
        <span asp-validation-for="FreeParking"></span>
    </div>


    <button type="submit" class="btn btn-primary">Search</button>
</form>
